
  .asd{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  body, button, input {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  }
  
  
  
  .main_container{
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    width: 350px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px;
    padding: 10px 0;
  }
  
  
  .logo_img{
    width: 175px;
    height: 51px;
    margin: 22px 86.5px 12px;
  }
  
  form {
    width: 348px;
    height: 263px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input_container{
    margin-top: 20px;
  }
  
  .input_id , .input_pw {
    display: block;
    width: 268px;
    height: 38px;
    margin: 6px;
    padding: 9px 0px 8px 8px;
    border-radius: 3px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    background : rgba(var(--b3f,250,250,250),1);
  }
  
  .input_container ::placeholder{
    color: rgba(var(--f52,142,142,142),1);
    font-size:12px;
  }
  
  
  .login_btn {
    width: 268px;
    height: 30px;
    margin: 8px 40px;
    background-color: rgba(var(--d69,0,149,246),.3);
    border-style: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 600;
  }
  .active_login_btn {
    width: 268px;
    height: 30px;
    margin: 8px 40px;
    background-color: blue;
    border-style: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 600;
  }
  
  #forgot_pw_container {
    margin-top: 80px;
  }
  
  a, a:visited,a:link {
      text-decoration: none;
      color: #00376b;
      font-size: 12px;
  }
  