html, body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--b3f,250,250,250),1);
  }
  
  /*.all_page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  
  }*/
  
  /*-------여기부터 NAV야------------------------------------------*/
  
  .nav_container {
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    height: 77px;
    background-color: white;
    position: fixed;
    width: 100%;
  }
  
  .nav {
    width: 975px;
    height: 77px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    align-items: center;
    padding: 26px 20px;
  }
  
  .nav_left {
    display: flex;
    flex-wrap: nowrap;
    width: 360px;
    height: 36px;
    align-items: center;
  }
  
  .nav_left_logo_img{
    width: 24px;
    height: 24px;
  }
  
  .nav_left_text_img {
    width: 103px;
    height: 29px;
  }
  
  .nav_left_logo_vertical{
    width: 1px;
    height: 28px;
    background-color: rgba(var(--i1d,38,38,38),1);
    margin: 0 16px;
  }
  
  .nav_center_search{
    width: 215px;
    height: 28px;
    background-position: center;
    background-repeat:no-repeat;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgba(var(--b3f,250,250,250),1);
    }
  input::placeholder{
    color: #8E8E8E;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
  }
  
  .nav_right {
    width: 360px;
    height: 24px;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav_right_icon {
    width: 156px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 24px;
  }
  
  .nav_right img {
    width: 24px;
    height: 24px;
  }
  
  
  
  /*-------여기부터 article이야------------------------------------------*/
  
  .main {
    width: 935px;
    height: 100%;
    margin: 60px auto 0 auto;
    padding: 60px 0 0;
    display: flex;
  
  }
  
  .main_article {
    width: 614px;
    height: 873px;
    border:  1px solid rgba(var(--b6a,219,219,219),1);
    background-color: white;
  }
  
  .main_article_header {
    height: 60px;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .main_article_header_profile_img {
    width: 34px;
    height: 34px;
    border-radius: 70%;
  }
  
  .main_atrticle_header_profile {
    font-size: 14px;
    width: 100%;
    height: 17px;
    padding-left: 18px;
    font-weight: bold;
  }
  
  .main_article_header_profile_dots {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .main_article_header_dots {
    width: 16px;
    height: 16px;
  
  }
  
  .main_article_img_container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .main_article_img {
    width: 100%;
    height: 613.33px;
  
  }
  
  .main_article_bottom {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
  }
  
  .main_article_icon {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 5px;
  }
  
  .main_article_icon_left {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  
  .main_article_icon_right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .main_article_icon img {
    width: 45px;
    height: 44px;
    padding: 8px;
  }
  
  .bookmark_icon {
    width: 40px;
    height: 40px;
    padding: 8px;
    margin-right: 5px;
  }
  .thread_like {
    width: 100%;
    height: 24px;
    margin: 0 0 8px;
    padding: 0 16px;
  }
  
  .thread_mid_container{
    height: 57px;
    overflow: auto;
  }
  
  .thread_message , .new_div{
    height: 17.33px;
    width: 100%;
    padding: 0 0 0 16px ;
  }
  
  .new_div {
    font-size: 15px;
    color: black;
  }
  
  .thread_time {
    height: 17.33px;
    width: 100%;
    padding: 0 0 0 16px;
  }
  
  
  
  .thread_container {
    width: 100%;
    height: 56px;
    margin: 4px 0 0;
    padding: 0 16px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(239, 239, 239);
  
  }
  
  .input_thread_form{
    width: 100%;
    height: 17px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  
  .form_input {
      width: 500px;
      height: 24px;
      border: 0;
      color: #8E8E8E;
      font-size: 14px;
      margin-right: 40px;
  }
  
  input::placeholder {
    text-align: left;
  }
  
  .form_input_send {
    border-style: none;
    color: #0095f6;
    display: inline;
    font-size: 14px;
    background-color: white;
    opacity: 50%;
  }
  
  .like_img {
    width: 20px;
    height: 20px;
    border-radius: 70%;
    margin-right: 3px;
  }
  
  .thread_like {
    display: flex;
    align-items: center;
  }
  
  .bold_text{
    font-weight: bold;
    font-size: 14px;
  }
  
  .thread_time {
    margin-top: 4px;
    font-size: 12px;
    color: #8E8E8E;
  }
  
  .grey_heart {
    width: 12px;
    height: 12px;
    margin-left: 402px;
  }
  /*----------------main_side야아아아***********/
  
  .main_side {
    width: 293px;
    margin-left: 23px;
  }
  
  .main_side_profile {
    height: 50px;
  }
  
  .main_side_profile_container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 0 12px;
    padding: 0 0 0 5px;
  }
  
  .main_side_profile_img_container{
    width: 60px;
    height: 60px;
  }
  
  .main_side_profile_name {
    font-size: 13.3333px;
    color:#8E8E8E;
  }
  
  .main_side_profile_img{
    width: 50px;
    height: 50px;
    border-radius: 70%;
  }
  
  .main_side_story{
    height: 223px;
      background-color: white;
      margin-bottom: 10px;
  }
  
  .story_header{
    height: 18px;
    display: flex;
    flex-wrap: nowrap;
    margin: 12px 0 0;
    padding: 4px 16px;
  }
  
  .story_header_story{
    width: 208px;
    height: 17.33px;
    font-size: 14px;
    color: #8E8E8E;
  }
  
  .story_header_all{
    font-size: 13.33px;
    font-weight: bold;
  }
  
  
  .story_second {
    height: 223px;
    width: 100%;
    margin: 8px 0 0;
  
  }
  
  .story_profile{
    width: 100%;
    height: 44px;
    padding: 1px 16px 1px 5px;
    margin-left: 10px;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .story_profile_img_container {
    width: 64px;
    height: 64px;
  }
  
  .story_profile_img{
    margin-left: 3px;
    width: 40px;
    height: 40px;
    border-radius: 70%;
  }
  
  .story_profile_container{
    width: 185.33px;
    height: 33.33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .story_profile_id{
    font-size: 15px;
    height: 17.33px;
    font-weight: bold;
  }
  
  .story_profile_time{
    font-size: 13px;
    height: 12px;
    color: #8E8E8E;
  }
  
  
  .main_side_recommend {
    height: 200px;
    margin: 0 0 12px 0;
    background-color: white;
  }
  
  .recommend_header{
    display: flex;
    flex-wrap: nowrap;
    margin: 12px 0 0;
    padding: 4px 16px;
  }
  
  .recommend_header_title {
    font-size: 14px;
    color: #8E8E8E;
    width: 205px;
    height: 17.3px;
  }
  
  .recommend_header_all {
    font-size: 13px;
      font-weight: bold;
  }
  
  .recommend_second {
    height: 160px;
    padding: 8px 0;
    overflow: auto;
  }
  
  .recommend_second_section{
    height: 48px;
    padding: 8px 14px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  
  .section_img_container{
    width: 40px;
    height: 40px;
  }
  
  .section_img{
    width: 32px;
    height: 32px;
    border-radius: 70%;
  }
  
  .section_profile {
    width: 167px;
    height: 28px;
  }
  
  .section_id{
    font-size: 14px;
    width: 167.73;
    height: 17.33px;
    font-weight: bold;
  }
  
  .section_status{
    font-size: 13.33px;
    color: #8E8E8E;
    width: 167.73;
    height: 13.33px;
  }
  
  .section_follow {
    width: 34.6px;
    height: 17.33px;
    color: #0095f6;
    font-size: 13px;
    font-weight: bold;
    padding-top: 2px;
  }
  
  .main_side_footer {
    height: 121px;
  }
  
  .main_side_story,.main_side_recommend {
    border: 1px solid rgb(219, 219, 219);}
  
  /******999999999999999990-------------------------------------*******/
  .footer_info {
    width: 293px;
    height: 121px;
  }
  
  .footer_info_list{
    height: 55px;
    margin: 0 0 16px;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 277px;
    height: 51px;
    margin: 0 16px 3px 0;
    padding: 0px;
  }
  
  li {
    list-style: none;
    color: rgba(var(--edc,199,199,199),1);
    font-size: 13px;
    height: 11px;
    margin: 1px;
  }
  
  li::after{
    content: " - ";
  }
  
  li:last-child::after{
    content: "";
  }
  
  a {
    text-decoration: none;
    color: rgba(var(--edc,199,199,199),1);
  }
  /************/